<%= form_for(presence) do |f| %>
  <% if presence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presence.errors.count, "error") %> prohibited this presence from being saved:</h2>

      <ul>
      <% presence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :UserID %>
    <%= f.text_field :UserID %>
  </div>

  <div class="field">
    <%= f.label :RegionID %>
    <%= f.text_field :RegionID %>
  </div>

  <div class="field">
    <%= f.label :SessionID %>
    <%= f.text_field :SessionID %>
  </div>

  <div class="field">
    <%= f.label :SecureSessionID %>
    <%= f.text_field :SecureSessionID %>
  </div>

  <div class="field">
    <%= f.label :LastSeen %>
    <%= f.datetime_select :LastSeen %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
