<p id="notice"><%= notice %></p>

<h1>Estate Groups</h1>

<table>
  <thead>
    <tr>
      <th>Estateid</th>
      <th>Uuid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estate_groups.each do |estate_group| %>
      <tr>
        <td><%= estate_group.EstateID %></td>
        <td><%= estate_group.uuid %></td>
        <td><%= link_to 'Show', estate_group %></td>
        <td><%= link_to 'Edit', edit_estate_group_path(estate_group) %></td>
        <td><%= link_to 'Destroy', estate_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estate Group', new_estate_group_path %>
