<p id="notice"><%= notice %></p>

<p>
  <strong>Profilepartner:</strong>
  <%= @profile.profilePartner %>
</p>

<p>
  <strong>Profileallowpublish:</strong>
  <%= @profile.profileAllowPublish %>
</p>

<p>
  <strong>Profilematurepublish:</strong>
  <%= @profile.profileMaturePublish %>
</p>

<p>
  <strong>Profileurl:</strong>
  <%= @profile.profileURL %>
</p>

<p>
  <strong>Profilewanttomask:</strong>
  <%= @profile.profileWantToMask %>
</p>

<p>
  <strong>Profilewanttotext:</strong>
  <%= @profile.profileWantToText %>
</p>

<p>
  <strong>Profileskillsmask:</strong>
  <%= @profile.profileSkillsMask %>
</p>

<p>
  <strong>Profileskillstext:</strong>
  <%= @profile.profileSkillsText %>
</p>

<p>
  <strong>Profilelanguages:</strong>
  <%= @profile.profileLanguages %>
</p>

<p>
  <strong>Profileimage:</strong>
  <%= @profile.profileImage %>
</p>

<p>
  <strong>Profileabouttext:</strong>
  <%= @profile.profileAboutText %>
</p>

<p>
  <strong>Profilefirstimage:</strong>
  <%= @profile.profileFirstImage %>
</p>

<p>
  <strong>Profilefirsttext:</strong>
  <%= @profile.profileFirstText %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
