<p id="notice"><%= notice %></p>

<p>
  <strong>Regionuuid:</strong>
  <%= @land.RegionUUID %>
</p>

<p>
  <strong>Locallandid:</strong>
  <%= @land.LocalLandID %>
</p>

<p>
  <strong>Bitmap:</strong>
  <%= @land.Bitmap %>
</p>

<p>
  <strong>Name:</strong>
  <%= @land.Name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @land.Description %>
</p>

<p>
  <strong>Owneruuid:</strong>
  <%= @land.OwnerUUID %>
</p>

<p>
  <strong>Isgroupowned:</strong>
  <%= @land.IsGroupOwned %>
</p>

<p>
  <strong>Area:</strong>
  <%= @land.Area %>
</p>

<p>
  <strong>Auctionid:</strong>
  <%= @land.AuctionID %>
</p>

<p>
  <strong>Category:</strong>
  <%= @land.Category %>
</p>

<p>
  <strong>Claimdate:</strong>
  <%= @land.ClaimDate %>
</p>

<p>
  <strong>Claimprice:</strong>
  <%= @land.ClaimPrice %>
</p>

<p>
  <strong>Groupuuid:</strong>
  <%= @land.GroupUUID %>
</p>

<p>
  <strong>Saleprice:</strong>
  <%= @land.SalePrice %>
</p>

<p>
  <strong>Landstatus:</strong>
  <%= @land.LandStatus %>
</p>

<p>
  <strong>Landflags:</strong>
  <%= @land.LandFlags %>
</p>

<p>
  <strong>Landingtype:</strong>
  <%= @land.LandingType %>
</p>

<p>
  <strong>Mediaautoscale:</strong>
  <%= @land.MediaAutoScale %>
</p>

<p>
  <strong>Mediatextureuuid:</strong>
  <%= @land.MediaTextureUUID %>
</p>

<p>
  <strong>Mediaurl:</strong>
  <%= @land.MediaURL %>
</p>

<p>
  <strong>Musicurl:</strong>
  <%= @land.MusicURL %>
</p>

<p>
  <strong>Passhours:</strong>
  <%= @land.PassHours %>
</p>

<p>
  <strong>Passprice:</strong>
  <%= @land.PassPrice %>
</p>

<p>
  <strong>Snapshotuuid:</strong>
  <%= @land.SnapshotUUID %>
</p>

<p>
  <strong>Userlocationx:</strong>
  <%= @land.UserLocationX %>
</p>

<p>
  <strong>Userlocationy:</strong>
  <%= @land.UserLocationY %>
</p>

<p>
  <strong>Userlocationz:</strong>
  <%= @land.UserLocationZ %>
</p>

<p>
  <strong>Userlookatx:</strong>
  <%= @land.UserLookAtX %>
</p>

<p>
  <strong>Userlookaty:</strong>
  <%= @land.UserLookAtY %>
</p>

<p>
  <strong>Userlookatz:</strong>
  <%= @land.UserLookAtZ %>
</p>

<p>
  <strong>Authbuyerid:</strong>
  <%= @land.AuthbuyerID %>
</p>

<p>
  <strong>Othercleantime:</strong>
  <%= @land.OtherCleanTime %>
</p>

<p>
  <strong>Dwell:</strong>
  <%= @land.Dwell %>
</p>

<p>
  <strong>Mediatype:</strong>
  <%= @land.MediaType %>
</p>

<p>
  <strong>Mediadescription:</strong>
  <%= @land.MediaDescription %>
</p>

<p>
  <strong>Mediasize:</strong>
  <%= @land.MediaSize %>
</p>

<p>
  <strong>Medialoop:</strong>
  <%= @land.MediaLoop %>
</p>

<p>
  <strong>Obscuremusic:</strong>
  <%= @land.ObscureMusic %>
</p>

<p>
  <strong>Obscuremedia:</strong>
  <%= @land.ObscureMedia %>
</p>

<p>
  <strong>Seeavs:</strong>
  <%= @land.SeeAVs %>
</p>

<p>
  <strong>Anyavsounds:</strong>
  <%= @land.AnyAVSounds %>
</p>

<p>
  <strong>Groupavsounds:</strong>
  <%= @land.GroupAVSounds %>
</p>

<%= link_to 'Edit', edit_land_path(@land) %> |
<%= link_to 'Back', lands_path %>
