<p id="notice"><%= notice %></p>

<p>
  <strong>Invtype:</strong>
  <%= @primitem.invType %>
</p>

<p>
  <strong>Assettype:</strong>
  <%= @primitem.assetType %>
</p>

<p>
  <strong>Name:</strong>
  <%= @primitem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @primitem.description %>
</p>

<p>
  <strong>Creationdate:</strong>
  <%= @primitem.creationDate %>
</p>

<p>
  <strong>Nextpermissions:</strong>
  <%= @primitem.nextPermissions %>
</p>

<p>
  <strong>Currentpermissions:</strong>
  <%= @primitem.currentPermissions %>
</p>

<p>
  <strong>Basepermissions:</strong>
  <%= @primitem.basePermissions %>
</p>

<p>
  <strong>Everyonepermissions:</strong>
  <%= @primitem.everyonePermissions %>
</p>

<p>
  <strong>Grouppermissions:</strong>
  <%= @primitem.groupPermissions %>
</p>

<p>
  <strong>Flags:</strong>
  <%= @primitem.flags %>
</p>

<p>
  <strong>Primid:</strong>
  <%= @primitem.primID %>
</p>

<p>
  <strong>Assetid:</strong>
  <%= @primitem.assetID %>
</p>

<p>
  <strong>Parentfolderid:</strong>
  <%= @primitem.parentFolderID %>
</p>

<p>
  <strong>Creatorid:</strong>
  <%= @primitem.CreatorID %>
</p>

<p>
  <strong>Ownerid:</strong>
  <%= @primitem.ownerID %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @primitem.groupID %>
</p>

<p>
  <strong>Lastownerid:</strong>
  <%= @primitem.lastOwnerID %>
</p>

<%= link_to 'Edit', edit_primitem_path(@primitem) %> |
<%= link_to 'Back', primitems_path %>
