<p id="notice"><%= notice %></p>

<h1>Terrains</h1>

<table>
  <thead>
    <tr>
      <th>Regionuuid</th>
      <th>Revision</th>
      <th>Heightfield</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terrains.each do |terrain| %>
      <tr>
        <td><%= terrain.RegionUUID %></td>
        <td><%= terrain.Revision %></td>
        <td><%= terrain.Heightfield %></td>
        <td><%= link_to 'Show', terrain %></td>
        <td><%= link_to 'Edit', edit_terrain_path(terrain) %></td>
        <td><%= link_to 'Destroy', terrain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terrain', new_terrain_path %>
