<p id="notice"><%= notice %></p>

<p>
  <strong>Block terraform:</strong>
  <%= @regionsetting.block_terraform %>
</p>

<p>
  <strong>Block fly:</strong>
  <%= @regionsetting.block_fly %>
</p>

<p>
  <strong>Allow damage:</strong>
  <%= @regionsetting.allow_damage %>
</p>

<p>
  <strong>Restrict pushing:</strong>
  <%= @regionsetting.restrict_pushing %>
</p>

<p>
  <strong>Allow land resell:</strong>
  <%= @regionsetting.allow_land_resell %>
</p>

<p>
  <strong>Allow land join divide:</strong>
  <%= @regionsetting.allow_land_join_divide %>
</p>

<p>
  <strong>Block show in search:</strong>
  <%= @regionsetting.block_show_in_search %>
</p>

<p>
  <strong>Agent limit:</strong>
  <%= @regionsetting.agent_limit %>
</p>

<p>
  <strong>Object bonus:</strong>
  <%= @regionsetting.object_bonus %>
</p>

<p>
  <strong>Maturity:</strong>
  <%= @regionsetting.maturity %>
</p>

<p>
  <strong>Disable scripts:</strong>
  <%= @regionsetting.disable_scripts %>
</p>

<p>
  <strong>Disable collisions:</strong>
  <%= @regionsetting.disable_collisions %>
</p>

<p>
  <strong>Disable physics:</strong>
  <%= @regionsetting.disable_physics %>
</p>

<p>
  <strong>Terrain texture 1:</strong>
  <%= @regionsetting.terrain_texture_1 %>
</p>

<p>
  <strong>Terrain texture 2:</strong>
  <%= @regionsetting.terrain_texture_2 %>
</p>

<p>
  <strong>Terrain texture 3:</strong>
  <%= @regionsetting.terrain_texture_3 %>
</p>

<p>
  <strong>Terrain texture 4:</strong>
  <%= @regionsetting.terrain_texture_4 %>
</p>

<p>
  <strong>Elevation 1 nw:</strong>
  <%= @regionsetting.elevation_1_nw %>
</p>

<p>
  <strong>Elevation 2 nw:</strong>
  <%= @regionsetting.elevation_2_nw %>
</p>

<p>
  <strong>Elevation 1 ne:</strong>
  <%= @regionsetting.elevation_1_ne %>
</p>

<p>
  <strong>Elevation 2 ne:</strong>
  <%= @regionsetting.elevation_2_ne %>
</p>

<p>
  <strong>Elevation 1 se:</strong>
  <%= @regionsetting.elevation_1_se %>
</p>

<p>
  <strong>Elevation 2 se:</strong>
  <%= @regionsetting.elevation_2_se %>
</p>

<p>
  <strong>Elevation 1 sw:</strong>
  <%= @regionsetting.elevation_1_sw %>
</p>

<p>
  <strong>Elevation 2 sw:</strong>
  <%= @regionsetting.elevation_2_sw %>
</p>

<p>
  <strong>Water height:</strong>
  <%= @regionsetting.water_height %>
</p>

<p>
  <strong>Terrain raise limit:</strong>
  <%= @regionsetting.terrain_raise_limit %>
</p>

<p>
  <strong>Terrain lower limit:</strong>
  <%= @regionsetting.terrain_lower_limit %>
</p>

<p>
  <strong>Use estate sun:</strong>
  <%= @regionsetting.use_estate_sun %>
</p>

<p>
  <strong>Fixed sun:</strong>
  <%= @regionsetting.fixed_sun %>
</p>

<p>
  <strong>Sun position:</strong>
  <%= @regionsetting.sun_position %>
</p>

<p>
  <strong>Covenant:</strong>
  <%= @regionsetting.covenant %>
</p>

<p>
  <strong>Sandbox:</strong>
  <%= @regionsetting.Sandbox %>
</p>

<p>
  <strong>Sunvectorx:</strong>
  <%= @regionsetting.sunvectorx %>
</p>

<p>
  <strong>Sunvectory:</strong>
  <%= @regionsetting.sunvectory %>
</p>

<p>
  <strong>Sunvectorz:</strong>
  <%= @regionsetting.sunvectorz %>
</p>

<p>
  <strong>Loaded creation:</strong>
  <%= @regionsetting.loaded_creation %>
</p>

<p>
  <strong>Loaded creation datetime:</strong>
  <%= @regionsetting.loaded_creation_datetime %>
</p>

<p>
  <strong>Map tile id:</strong>
  <%= @regionsetting.map_tile_ID %>
</p>

<p>
  <strong>Telehubobject:</strong>
  <%= @regionsetting.TelehubObject %>
</p>

<p>
  <strong>Parcel tile id:</strong>
  <%= @regionsetting.parcel_tile_ID %>
</p>

<p>
  <strong>Covenant datetime:</strong>
  <%= @regionsetting.covenant_datetime %>
</p>

<p>
  <strong>Block search:</strong>
  <%= @regionsetting.block_search %>
</p>

<p>
  <strong>Casino:</strong>
  <%= @regionsetting.casino %>
</p>

<%= link_to 'Edit', edit_regionsetting_path(@regionsetting) %> |
<%= link_to 'Back', regionsettings_path %>
