<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @os_groups_group.Location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @os_groups_group.Name %>
</p>

<p>
  <strong>Charter:</strong>
  <%= @os_groups_group.Charter %>
</p>

<p>
  <strong>Insigniaid:</strong>
  <%= @os_groups_group.InsigniaID %>
</p>

<p>
  <strong>Founderid:</strong>
  <%= @os_groups_group.FounderID %>
</p>

<p>
  <strong>Membershipfee:</strong>
  <%= @os_groups_group.MembershipFee %>
</p>

<p>
  <strong>Openenrollment:</strong>
  <%= @os_groups_group.OpenEnrollment %>
</p>

<p>
  <strong>Showinlist:</strong>
  <%= @os_groups_group.ShowInList %>
</p>

<p>
  <strong>Allowpublish:</strong>
  <%= @os_groups_group.AllowPublish %>
</p>

<p>
  <strong>Maturepublish:</strong>
  <%= @os_groups_group.MaturePublish %>
</p>

<p>
  <strong>Ownerroleid:</strong>
  <%= @os_groups_group.OwnerRoleID %>
</p>

<%= link_to 'Edit', edit_os_groups_group_path(@os_groups_group) %> |
<%= link_to 'Back', os_groups_groups_path %>
