<p id="notice"><%= notice %></p>

<p>
  <strong>Principalid:</strong>
  <%= @im_offline.PrincipalID %>
</p>

<p>
  <strong>Fromid:</strong>
  <%= @im_offline.FromID %>
</p>

<p>
  <strong>Message:</strong>
  <%= @im_offline.Message %>
</p>

<p>
  <strong>Tmstamp:</strong>
  <%= @im_offline.TMStamp %>
</p>

<%= link_to 'Edit', edit_im_offline_path(@im_offline) %> |
<%= link_to 'Back', im_offlines_path %>
