<p id="notice"><%= notice %></p>

<p>
  <strong>Creatoruuid:</strong>
  <%= @profile_classified.creatoruuid %>
</p>

<p>
  <strong>Creationdate:</strong>
  <%= @profile_classified.creationdate %>
</p>

<p>
  <strong>Expirationdate:</strong>
  <%= @profile_classified.expirationdate %>
</p>

<p>
  <strong>Category:</strong>
  <%= @profile_classified.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile_classified.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile_classified.description %>
</p>

<p>
  <strong>Parceluuid:</strong>
  <%= @profile_classified.parceluuid %>
</p>

<p>
  <strong>Parentestate:</strong>
  <%= @profile_classified.parentestate %>
</p>

<p>
  <strong>Snapshotuuid:</strong>
  <%= @profile_classified.snapshotuuid %>
</p>

<p>
  <strong>Simname:</strong>
  <%= @profile_classified.simname %>
</p>

<p>
  <strong>Posglobal:</strong>
  <%= @profile_classified.posglobal %>
</p>

<p>
  <strong>Parcelname:</strong>
  <%= @profile_classified.parcelname %>
</p>

<p>
  <strong>Classifiedflags:</strong>
  <%= @profile_classified.classifiedflags %>
</p>

<p>
  <strong>Priceforlisting:</strong>
  <%= @profile_classified.priceforlisting %>
</p>

<%= link_to 'Edit', edit_profile_classified_path(@profile_classified) %> |
<%= link_to 'Back', profile_classifieds_path %>
