<p id="notice"><%= notice %></p>

<p>
  <strong>Profilepartner:</strong>
  <%= @userprofile.profilePartner %>
</p>

<p>
  <strong>Profileallowpublish:</strong>
  <%= @userprofile.profileAllowPublish %>
</p>

<p>
  <strong>Profilematurepublish:</strong>
  <%= @userprofile.profileMaturePublish %>
</p>

<p>
  <strong>Profileurl:</strong>
  <%= @userprofile.profileURL %>
</p>

<p>
  <strong>Profilewanttomask:</strong>
  <%= @userprofile.profileWantToMask %>
</p>

<p>
  <strong>Profilewanttotext:</strong>
  <%= @userprofile.profileWantToText %>
</p>

<p>
  <strong>Profileskillsmask:</strong>
  <%= @userprofile.profileSkillsMask %>
</p>

<p>
  <strong>Profileskillstext:</strong>
  <%= @userprofile.profileSkillsText %>
</p>

<p>
  <strong>Profilelanguages:</strong>
  <%= @userprofile.profileLanguages %>
</p>

<p>
  <strong>Profileimage:</strong>
  <%= @userprofile.profileImage %>
</p>

<p>
  <strong>Profileabouttext:</strong>
  <%= @userprofile.profileAboutText %>
</p>

<p>
  <strong>Profilefirstimage:</strong>
  <%= @userprofile.profileFirstImage %>
</p>

<p>
  <strong>Profilefirsttext:</strong>
  <%= @userprofile.profileFirstText %>
</p>

<%= link_to 'Edit', edit_userprofile_path(@userprofile) %> |
<%= link_to 'Back', userprofiles_path %>
