<p id="notice"><%= notice %></p>

<h1>Profile Picks</h1>

<table>
  <thead>
    <tr>
      <th>Creatoruuid</th>
      <th>Toppick</th>
      <th>Parceluuid</th>
      <th>Name</th>
      <th>Description</th>
      <th>Snapshotuuid</th>
      <th>User</th>
      <th>Originalname</th>
      <th>Simname</th>
      <th>Posglobal</th>
      <th>Sortorder</th>
      <th>Enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_picks.each do |profile_pick| %>
      <tr>
        <td><%= profile_pick.creatoruuid %></td>
        <td><%= profile_pick.toppick %></td>
        <td><%= profile_pick.parceluuid %></td>
        <td><%= profile_pick.name %></td>
        <td><%= profile_pick.description %></td>
        <td><%= profile_pick.snapshotuuid %></td>
        <td><%= profile_pick.user %></td>
        <td><%= profile_pick.originalname %></td>
        <td><%= profile_pick.simname %></td>
        <td><%= profile_pick.posglobal %></td>
        <td><%= profile_pick.sortorder %></td>
        <td><%= profile_pick.enabled %></td>
        <td><%= link_to 'Show', profile_pick %></td>
        <td><%= link_to 'Edit', edit_profile_pick_path(profile_pick) %></td>
        <td><%= link_to 'Destroy', profile_pick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile Pick', new_profile_pick_path %>
