<p id="notice"><%= notice %></p>

<p>
  <strong>Groupid:</strong>
  <%= @os_groups_invite.GroupID %>
</p>

<p>
  <strong>Roleid:</strong>
  <%= @os_groups_invite.RoleID %>
</p>

<p>
  <strong>Principalid:</strong>
  <%= @os_groups_invite.PrincipalID %>
</p>

<p>
  <strong>Tmstamp:</strong>
  <%= @os_groups_invite.TMStamp %>
</p>

<%= link_to 'Edit', edit_os_groups_invite_path(@os_groups_invite) %> |
<%= link_to 'Back', os_groups_invites_path %>
