<p id="notice"><%= notice %></p>

<p>
  <strong>Creatoruuid:</strong>
  <%= @userpick.creatoruuid %>
</p>

<p>
  <strong>Toppick:</strong>
  <%= @userpick.toppick %>
</p>

<p>
  <strong>Parceluuid:</strong>
  <%= @userpick.parceluuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @userpick.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @userpick.description %>
</p>

<p>
  <strong>Snapshotuuid:</strong>
  <%= @userpick.snapshotuuid %>
</p>

<p>
  <strong>User:</strong>
  <%= @userpick.user %>
</p>

<p>
  <strong>Originalname:</strong>
  <%= @userpick.originalname %>
</p>

<p>
  <strong>Simname:</strong>
  <%= @userpick.simname %>
</p>

<p>
  <strong>Posglobal:</strong>
  <%= @userpick.posglobal %>
</p>

<p>
  <strong>Sortorder:</strong>
  <%= @userpick.sortorder %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @userpick.enabled %>
</p>

<p>
  <strong>Gatekeeper:</strong>
  <%= @userpick.gatekeeper %>
</p>

<%= link_to 'Edit', edit_userpick_path(@userpick) %> |
<%= link_to 'Back', userpicks_path %>
