<%= form_for(auth) do |f| %>
  <% if auth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth.errors.count, "error") %> prohibited this auth from being saved:</h2>

      <ul>
      <% auth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :passwordHash %>
    <%= f.text_field :passwordHash %>
  </div>

  <div class="field">
    <%= f.label :passwordSalt %>
    <%= f.text_field :passwordSalt %>
  </div>

  <div class="field">
    <%= f.label :webLoginKey %>
    <%= f.text_field :webLoginKey %>
  </div>

  <div class="field">
    <%= f.label :accountType %>
    <%= f.text_field :accountType %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
