<p id="notice"><%= notice %></p>

<p>
  <strong>Creatoruuid:</strong>
  <%= @classified.creatoruuid %>
</p>

<p>
  <strong>Creationdate:</strong>
  <%= @classified.creationdate %>
</p>

<p>
  <strong>Expirationdate:</strong>
  <%= @classified.expirationdate %>
</p>

<p>
  <strong>Category:</strong>
  <%= @classified.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @classified.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @classified.description %>
</p>

<p>
  <strong>Parceluuid:</strong>
  <%= @classified.parceluuid %>
</p>

<p>
  <strong>Parentestate:</strong>
  <%= @classified.parentestate %>
</p>

<p>
  <strong>Snapshotuuid:</strong>
  <%= @classified.snapshotuuid %>
</p>

<p>
  <strong>Simname:</strong>
  <%= @classified.simname %>
</p>

<p>
  <strong>Posglobal:</strong>
  <%= @classified.posglobal %>
</p>

<p>
  <strong>Parcelname:</strong>
  <%= @classified.parcelname %>
</p>

<p>
  <strong>Classifiedflags:</strong>
  <%= @classified.classifiedflags %>
</p>

<p>
  <strong>Priceforlisting:</strong>
  <%= @classified.priceforlisting %>
</p>

<%= link_to 'Edit', edit_classified_path(@classified) %> |
<%= link_to 'Back', classifieds_path %>
