<p id="notice"><%= notice %></p>

<h1>Profile Notes</h1>

<table>
  <thead>
    <tr>
      <th>Useruuid</th>
      <th>Targetuuid</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_notes.each do |profile_note| %>
      <tr>
        <td><%= profile_note.useruuid %></td>
        <td><%= profile_note.targetuuid %></td>
        <td><%= profile_note.notes %></td>
        <td><%= link_to 'Show', profile_note %></td>
        <td><%= link_to 'Edit', edit_profile_note_path(profile_note) %></td>
        <td><%= link_to 'Destroy', profile_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile Note', new_profile_note_path %>
