<p id="notice"><%= notice %></p>

<p>
  <strong>Estatename:</strong>
  <%= @estate_setting.EstateName %>
</p>

<p>
  <strong>Abuseemailtoestateowner:</strong>
  <%= @estate_setting.AbuseEmailToEstateOwner %>
</p>

<p>
  <strong>Denyanonymous:</strong>
  <%= @estate_setting.DenyAnonymous %>
</p>

<p>
  <strong>Resethomeonteleport:</strong>
  <%= @estate_setting.ResetHomeOnTeleport %>
</p>

<p>
  <strong>Fixedsun:</strong>
  <%= @estate_setting.FixedSun %>
</p>

<p>
  <strong>Denytransacted:</strong>
  <%= @estate_setting.DenyTransacted %>
</p>

<p>
  <strong>Blockdwell:</strong>
  <%= @estate_setting.BlockDwell %>
</p>

<p>
  <strong>Denyidentified:</strong>
  <%= @estate_setting.DenyIdentified %>
</p>

<p>
  <strong>Allowvoice:</strong>
  <%= @estate_setting.AllowVoice %>
</p>

<p>
  <strong>Useglobaltime:</strong>
  <%= @estate_setting.UseGlobalTime %>
</p>

<p>
  <strong>Pricepermeter:</strong>
  <%= @estate_setting.PricePerMeter %>
</p>

<p>
  <strong>Taxfree:</strong>
  <%= @estate_setting.TaxFree %>
</p>

<p>
  <strong>Allowdirectteleport:</strong>
  <%= @estate_setting.AllowDirectTeleport %>
</p>

<p>
  <strong>Redirectgridx:</strong>
  <%= @estate_setting.RedirectGridX %>
</p>

<p>
  <strong>Redirectgridy:</strong>
  <%= @estate_setting.RedirectGridY %>
</p>

<p>
  <strong>Parentestateid:</strong>
  <%= @estate_setting.ParentEstateID %>
</p>

<p>
  <strong>Sunposition:</strong>
  <%= @estate_setting.SunPosition %>
</p>

<p>
  <strong>Estateskipscripts:</strong>
  <%= @estate_setting.EstateSkipScripts %>
</p>

<p>
  <strong>Billablefactor:</strong>
  <%= @estate_setting.BillableFactor %>
</p>

<p>
  <strong>Publicaccess:</strong>
  <%= @estate_setting.PublicAccess %>
</p>

<p>
  <strong>Abuseemail:</strong>
  <%= @estate_setting.AbuseEmail %>
</p>

<p>
  <strong>Estateowner:</strong>
  <%= @estate_setting.EstateOwner %>
</p>

<p>
  <strong>Denyminors:</strong>
  <%= @estate_setting.DenyMinors %>
</p>

<p>
  <strong>Allowlandmark:</strong>
  <%= @estate_setting.AllowLandmark %>
</p>

<p>
  <strong>Allowparcelchanges:</strong>
  <%= @estate_setting.AllowParcelChanges %>
</p>

<p>
  <strong>Allowsethome:</strong>
  <%= @estate_setting.AllowSetHome %>
</p>

<%= link_to 'Edit', edit_estate_setting_path(@estate_setting) %> |
<%= link_to 'Back', estate_settings_path %>
