<p id="notice"><%= notice %></p>

<p>
  <strong>Shape:</strong>
  <%= @primshape.Shape %>
</p>

<p>
  <strong>Scalex:</strong>
  <%= @primshape.ScaleX %>
</p>

<p>
  <strong>Scaley:</strong>
  <%= @primshape.ScaleY %>
</p>

<p>
  <strong>Scalez:</strong>
  <%= @primshape.ScaleZ %>
</p>

<p>
  <strong>Pcode:</strong>
  <%= @primshape.PCode %>
</p>

<p>
  <strong>Pathbegin:</strong>
  <%= @primshape.PathBegin %>
</p>

<p>
  <strong>Pathend:</strong>
  <%= @primshape.PathEnd %>
</p>

<p>
  <strong>Pathscalex:</strong>
  <%= @primshape.PathScaleX %>
</p>

<p>
  <strong>Pathscaley:</strong>
  <%= @primshape.PathScaleY %>
</p>

<p>
  <strong>Pathshearx:</strong>
  <%= @primshape.PathShearX %>
</p>

<p>
  <strong>Pathsheary:</strong>
  <%= @primshape.PathShearY %>
</p>

<p>
  <strong>Pathskew:</strong>
  <%= @primshape.PathSkew %>
</p>

<p>
  <strong>Pathcurve:</strong>
  <%= @primshape.PathCurve %>
</p>

<p>
  <strong>Pathradiusoffset:</strong>
  <%= @primshape.PathRadiusOffset %>
</p>

<p>
  <strong>Pathrevolutions:</strong>
  <%= @primshape.PathRevolutions %>
</p>

<p>
  <strong>Pathtaperx:</strong>
  <%= @primshape.PathTaperX %>
</p>

<p>
  <strong>Pathtapery:</strong>
  <%= @primshape.PathTaperY %>
</p>

<p>
  <strong>Pathtwist:</strong>
  <%= @primshape.PathTwist %>
</p>

<p>
  <strong>Pathtwistbegin:</strong>
  <%= @primshape.PathTwistBegin %>
</p>

<p>
  <strong>Profilebegin:</strong>
  <%= @primshape.ProfileBegin %>
</p>

<p>
  <strong>Profileend:</strong>
  <%= @primshape.ProfileEnd %>
</p>

<p>
  <strong>Profilecurve:</strong>
  <%= @primshape.ProfileCurve %>
</p>

<p>
  <strong>Profilehollow:</strong>
  <%= @primshape.ProfileHollow %>
</p>

<p>
  <strong>State:</strong>
  <%= @primshape.State %>
</p>

<p>
  <strong>Texture:</strong>
  <%= @primshape.Texture %>
</p>

<p>
  <strong>Extraparams:</strong>
  <%= @primshape.ExtraParams %>
</p>

<p>
  <strong>Media:</strong>
  <%= @primshape.Media %>
</p>

<p>
  <strong>Lastattachpoint:</strong>
  <%= @primshape.LastAttachPoint %>
</p>

<%= link_to 'Edit', edit_primshape_path(@primshape) %> |
<%= link_to 'Back', primshapes_path %>
