<%= form_for(profile_setting) do |f| %>
  <% if profile_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile_setting.errors.count, "error") %> prohibited this profile_setting from being saved:</h2>

      <ul>
      <% profile_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imviaemail %>
    <%= f.text_field :imviaemail %>
  </div>

  <div class="field">
    <%= f.label :visible %>
    <%= f.text_field :visible %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
