<p id="notice"><%= notice %></p>

<p>
  <strong>Water color r:</strong>
  <%= @regionwindlight.water_color_r %>
</p>

<p>
  <strong>Water color g:</strong>
  <%= @regionwindlight.water_color_g %>
</p>

<p>
  <strong>Water color b:</strong>
  <%= @regionwindlight.water_color_b %>
</p>

<p>
  <strong>Water fog density exponent:</strong>
  <%= @regionwindlight.water_fog_density_exponent %>
</p>

<p>
  <strong>Underwater fog modifier:</strong>
  <%= @regionwindlight.underwater_fog_modifier %>
</p>

<p>
  <strong>Reflection wavelet scale 1:</strong>
  <%= @regionwindlight.reflection_wavelet_scale_1 %>
</p>

<p>
  <strong>Reflection wavelet scale 2:</strong>
  <%= @regionwindlight.reflection_wavelet_scale_2 %>
</p>

<p>
  <strong>Reflection wavelet scale 3:</strong>
  <%= @regionwindlight.reflection_wavelet_scale_3 %>
</p>

<p>
  <strong>Fresnel scale:</strong>
  <%= @regionwindlight.fresnel_scale %>
</p>

<p>
  <strong>Fresnel offset:</strong>
  <%= @regionwindlight.fresnel_offset %>
</p>

<p>
  <strong>Refract scale above:</strong>
  <%= @regionwindlight.refract_scale_above %>
</p>

<p>
  <strong>Refract scale below:</strong>
  <%= @regionwindlight.refract_scale_below %>
</p>

<p>
  <strong>Blur multiplier:</strong>
  <%= @regionwindlight.blur_multiplier %>
</p>

<p>
  <strong>Big wave direction x:</strong>
  <%= @regionwindlight.big_wave_direction_x %>
</p>

<p>
  <strong>Big wave direction y:</strong>
  <%= @regionwindlight.big_wave_direction_y %>
</p>

<p>
  <strong>Little wave direction x:</strong>
  <%= @regionwindlight.little_wave_direction_x %>
</p>

<p>
  <strong>Little wave direction y:</strong>
  <%= @regionwindlight.little_wave_direction_y %>
</p>

<p>
  <strong>Normal map texture:</strong>
  <%= @regionwindlight.normal_map_texture %>
</p>

<p>
  <strong>Horizon r:</strong>
  <%= @regionwindlight.horizon_r %>
</p>

<p>
  <strong>Horizon g:</strong>
  <%= @regionwindlight.horizon_g %>
</p>

<p>
  <strong>Horizon b:</strong>
  <%= @regionwindlight.horizon_b %>
</p>

<p>
  <strong>Horizon i:</strong>
  <%= @regionwindlight.horizon_i %>
</p>

<p>
  <strong>Haze horizon:</strong>
  <%= @regionwindlight.haze_horizon %>
</p>

<p>
  <strong>Blue density r:</strong>
  <%= @regionwindlight.blue_density_r %>
</p>

<p>
  <strong>Blue density g:</strong>
  <%= @regionwindlight.blue_density_g %>
</p>

<p>
  <strong>Blue density b:</strong>
  <%= @regionwindlight.blue_density_b %>
</p>

<p>
  <strong>Blue density i:</strong>
  <%= @regionwindlight.blue_density_i %>
</p>

<p>
  <strong>Haze density:</strong>
  <%= @regionwindlight.haze_density %>
</p>

<p>
  <strong>Density multiplier:</strong>
  <%= @regionwindlight.density_multiplier %>
</p>

<p>
  <strong>Distance multiplier:</strong>
  <%= @regionwindlight.distance_multiplier %>
</p>

<p>
  <strong>Max altitude:</strong>
  <%= @regionwindlight.max_altitude %>
</p>

<p>
  <strong>Sun moon color r:</strong>
  <%= @regionwindlight.sun_moon_color_r %>
</p>

<p>
  <strong>Sun moon color g:</strong>
  <%= @regionwindlight.sun_moon_color_g %>
</p>

<p>
  <strong>Sun moon color b:</strong>
  <%= @regionwindlight.sun_moon_color_b %>
</p>

<p>
  <strong>Sun moon color i:</strong>
  <%= @regionwindlight.sun_moon_color_i %>
</p>

<p>
  <strong>Sun moon position:</strong>
  <%= @regionwindlight.sun_moon_position %>
</p>

<p>
  <strong>Ambient r:</strong>
  <%= @regionwindlight.ambient_r %>
</p>

<p>
  <strong>Ambient g:</strong>
  <%= @regionwindlight.ambient_g %>
</p>

<p>
  <strong>Ambient b:</strong>
  <%= @regionwindlight.ambient_b %>
</p>

<p>
  <strong>Ambient i:</strong>
  <%= @regionwindlight.ambient_i %>
</p>

<p>
  <strong>East angle:</strong>
  <%= @regionwindlight.east_angle %>
</p>

<p>
  <strong>Sun glow focus:</strong>
  <%= @regionwindlight.sun_glow_focus %>
</p>

<p>
  <strong>Sun glow size:</strong>
  <%= @regionwindlight.sun_glow_size %>
</p>

<p>
  <strong>Scene gamma:</strong>
  <%= @regionwindlight.scene_gamma %>
</p>

<p>
  <strong>Star brightness:</strong>
  <%= @regionwindlight.star_brightness %>
</p>

<p>
  <strong>Cloud color r:</strong>
  <%= @regionwindlight.cloud_color_r %>
</p>

<p>
  <strong>Cloud color g:</strong>
  <%= @regionwindlight.cloud_color_g %>
</p>

<p>
  <strong>Cloud color b:</strong>
  <%= @regionwindlight.cloud_color_b %>
</p>

<p>
  <strong>Cloud color i:</strong>
  <%= @regionwindlight.cloud_color_i %>
</p>

<p>
  <strong>Cloud x:</strong>
  <%= @regionwindlight.cloud_x %>
</p>

<p>
  <strong>Cloud y:</strong>
  <%= @regionwindlight.cloud_y %>
</p>

<p>
  <strong>Cloud density:</strong>
  <%= @regionwindlight.cloud_density %>
</p>

<p>
  <strong>Cloud coverage:</strong>
  <%= @regionwindlight.cloud_coverage %>
</p>

<p>
  <strong>Cloud scale:</strong>
  <%= @regionwindlight.cloud_scale %>
</p>

<p>
  <strong>Cloud detail x:</strong>
  <%= @regionwindlight.cloud_detail_x %>
</p>

<p>
  <strong>Cloud detail y:</strong>
  <%= @regionwindlight.cloud_detail_y %>
</p>

<p>
  <strong>Cloud detail density:</strong>
  <%= @regionwindlight.cloud_detail_density %>
</p>

<p>
  <strong>Cloud scroll x:</strong>
  <%= @regionwindlight.cloud_scroll_x %>
</p>

<p>
  <strong>Cloud scroll x lock:</strong>
  <%= @regionwindlight.cloud_scroll_x_lock %>
</p>

<p>
  <strong>Cloud scroll y:</strong>
  <%= @regionwindlight.cloud_scroll_y %>
</p>

<p>
  <strong>Cloud scroll y lock:</strong>
  <%= @regionwindlight.cloud_scroll_y_lock %>
</p>

<p>
  <strong>Draw classic clouds:</strong>
  <%= @regionwindlight.draw_classic_clouds %>
</p>

<%= link_to 'Edit', edit_regionwindlight_path(@regionwindlight) %> |
<%= link_to 'Back', regionwindlights_path %>
