<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @migration.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @migration.version %>
</p>

<%= link_to 'Edit', edit_migration_path(@migration) %> |
<%= link_to 'Back', migrations_path %>
