<p id="notice"><%= notice %></p>

<h1>Estate Users</h1>

<table>
  <thead>
    <tr>
      <th>Estateid</th>
      <th>Uuid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estate_users.each do |estate_user| %>
      <tr>
        <td><%= estate_user.EstateID %></td>
        <td><%= estate_user.uuid %></td>
        <td><%= link_to 'Show', estate_user %></td>
        <td><%= link_to 'Edit', edit_estate_user_path(estate_user) %></td>
        <td><%= link_to 'Destroy', estate_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estate User', new_estate_user_path %>
