<p id="notice"><%= notice %></p>

<p>
  <strong>Regionhandle:</strong>
  <%= @region.regionHandle %>
</p>

<p>
  <strong>Regionname:</strong>
  <%= @region.regionName %>
</p>

<p>
  <strong>Regionrecvkey:</strong>
  <%= @region.regionRecvKey %>
</p>

<p>
  <strong>Regionsendkey:</strong>
  <%= @region.regionSendKey %>
</p>

<p>
  <strong>Regionsecret:</strong>
  <%= @region.regionSecret %>
</p>

<p>
  <strong>Regiondatauri:</strong>
  <%= @region.regionDataURI %>
</p>

<p>
  <strong>Serverip:</strong>
  <%= @region.serverIP %>
</p>

<p>
  <strong>Serverport:</strong>
  <%= @region.serverPort %>
</p>

<p>
  <strong>Serveruri:</strong>
  <%= @region.serverURI %>
</p>

<p>
  <strong>Locx:</strong>
  <%= @region.locX %>
</p>

<p>
  <strong>Locy:</strong>
  <%= @region.locY %>
</p>

<p>
  <strong>Locz:</strong>
  <%= @region.locZ %>
</p>

<p>
  <strong>Eastoverridehandle:</strong>
  <%= @region.eastOverrideHandle %>
</p>

<p>
  <strong>Westoverridehandle:</strong>
  <%= @region.westOverrideHandle %>
</p>

<p>
  <strong>Southoverridehandle:</strong>
  <%= @region.southOverrideHandle %>
</p>

<p>
  <strong>Northoverridehandle:</strong>
  <%= @region.northOverrideHandle %>
</p>

<p>
  <strong>Regionasseturi:</strong>
  <%= @region.regionAssetURI %>
</p>

<p>
  <strong>Regionassetrecvkey:</strong>
  <%= @region.regionAssetRecvKey %>
</p>

<p>
  <strong>Regionassetsendkey:</strong>
  <%= @region.regionAssetSendKey %>
</p>

<p>
  <strong>Regionuseruri:</strong>
  <%= @region.regionUserURI %>
</p>

<p>
  <strong>Regionuserrecvkey:</strong>
  <%= @region.regionUserRecvKey %>
</p>

<p>
  <strong>Regionusersendkey:</strong>
  <%= @region.regionUserSendKey %>
</p>

<p>
  <strong>Regionmaptexture:</strong>
  <%= @region.regionMapTexture %>
</p>

<p>
  <strong>Serverhttpport:</strong>
  <%= @region.serverHttpPort %>
</p>

<p>
  <strong>Serverremotingport:</strong>
  <%= @region.serverRemotingPort %>
</p>

<p>
  <strong>Owner uuid:</strong>
  <%= @region.owner_uuid %>
</p>

<p>
  <strong>Originuuid:</strong>
  <%= @region.originUUID %>
</p>

<p>
  <strong>Access:</strong>
  <%= @region.access %>
</p>

<p>
  <strong>Scopeid:</strong>
  <%= @region.ScopeID %>
</p>

<p>
  <strong>Sizex:</strong>
  <%= @region.sizeX %>
</p>

<p>
  <strong>Sizey:</strong>
  <%= @region.sizeY %>
</p>

<p>
  <strong>Flags:</strong>
  <%= @region.flags %>
</p>

<p>
  <strong>Last seen:</strong>
  <%= @region.last_seen %>
</p>

<p>
  <strong>Principalid:</strong>
  <%= @region.PrincipalID %>
</p>

<p>
  <strong>Token:</strong>
  <%= @region.Token %>
</p>

<p>
  <strong>Parcelmaptexture:</strong>
  <%= @region.parcelMapTexture %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
