<%= form_for(inventoryfolder) do |f| %>
  <% if inventoryfolder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventoryfolder.errors.count, "error") %> prohibited this inventoryfolder from being saved:</h2>

      <ul>
      <% inventoryfolder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :folderName %>
    <%= f.text_field :folderName %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.number_field :type %>
  </div>

  <div class="field">
    <%= f.label :version %>
    <%= f.number_field :version %>
  </div>

  <div class="field">
    <%= f.label :agentID %>
    <%= f.text_field :agentID %>
  </div>

  <div class="field">
    <%= f.label :parentFolderID %>
    <%= f.text_field :parentFolderID %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
