<p id="notice"><%= notice %></p>

<h1>Inventoryfolders</h1>

<table>
  <thead>
    <tr>
      <th>Foldername</th>
      <th>Type</th>
      <th>Version</th>
      <th>Agentid</th>
      <th>Parentfolderid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventoryfolders.each do |inventoryfolder| %>
      <tr>
        <td><%= inventoryfolder.folderName %></td>
        <td><%= inventoryfolder.type %></td>
        <td><%= inventoryfolder.version %></td>
        <td><%= inventoryfolder.agentID %></td>
        <td><%= inventoryfolder.parentFolderID %></td>
        <td><%= link_to 'Show', inventoryfolder %></td>
        <td><%= link_to 'Edit', edit_inventoryfolder_path(inventoryfolder) %></td>
        <td><%= link_to 'Destroy', inventoryfolder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventoryfolder', new_inventoryfolder_path %>
