<p id="notice"><%= notice %></p>

<p>
  <strong>Creationdate:</strong>
  <%= @prim.CreationDate %>
</p>

<p>
  <strong>Name:</strong>
  <%= @prim.Name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @prim.Text %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prim.Description %>
</p>

<p>
  <strong>Sitname:</strong>
  <%= @prim.SitName %>
</p>

<p>
  <strong>Touchname:</strong>
  <%= @prim.TouchName %>
</p>

<p>
  <strong>Objectflags:</strong>
  <%= @prim.ObjectFlags %>
</p>

<p>
  <strong>Ownermask:</strong>
  <%= @prim.OwnerMask %>
</p>

<p>
  <strong>Nextownermask:</strong>
  <%= @prim.NextOwnerMask %>
</p>

<p>
  <strong>Groupmask:</strong>
  <%= @prim.GroupMask %>
</p>

<p>
  <strong>Everyonemask:</strong>
  <%= @prim.EveryoneMask %>
</p>

<p>
  <strong>Basemask:</strong>
  <%= @prim.BaseMask %>
</p>

<p>
  <strong>Positionx:</strong>
  <%= @prim.PositionX %>
</p>

<p>
  <strong>Positiony:</strong>
  <%= @prim.PositionY %>
</p>

<p>
  <strong>Positionz:</strong>
  <%= @prim.PositionZ %>
</p>

<p>
  <strong>Grouppositionx:</strong>
  <%= @prim.GroupPositionX %>
</p>

<p>
  <strong>Grouppositiony:</strong>
  <%= @prim.GroupPositionY %>
</p>

<p>
  <strong>Grouppositionz:</strong>
  <%= @prim.GroupPositionZ %>
</p>

<p>
  <strong>Velocityx:</strong>
  <%= @prim.VelocityX %>
</p>

<p>
  <strong>Velocityy:</strong>
  <%= @prim.VelocityY %>
</p>

<p>
  <strong>Velocityz:</strong>
  <%= @prim.VelocityZ %>
</p>

<p>
  <strong>Angularvelocityx:</strong>
  <%= @prim.AngularVelocityX %>
</p>

<p>
  <strong>Angularvelocityy:</strong>
  <%= @prim.AngularVelocityY %>
</p>

<p>
  <strong>Angularvelocityz:</strong>
  <%= @prim.AngularVelocityZ %>
</p>

<p>
  <strong>Accelerationx:</strong>
  <%= @prim.AccelerationX %>
</p>

<p>
  <strong>Accelerationy:</strong>
  <%= @prim.AccelerationY %>
</p>

<p>
  <strong>Accelerationz:</strong>
  <%= @prim.AccelerationZ %>
</p>

<p>
  <strong>Rotationx:</strong>
  <%= @prim.RotationX %>
</p>

<p>
  <strong>Rotationy:</strong>
  <%= @prim.RotationY %>
</p>

<p>
  <strong>Rotationz:</strong>
  <%= @prim.RotationZ %>
</p>

<p>
  <strong>Rotationw:</strong>
  <%= @prim.RotationW %>
</p>

<p>
  <strong>Sittargetoffsetx:</strong>
  <%= @prim.SitTargetOffsetX %>
</p>

<p>
  <strong>Sittargetoffsety:</strong>
  <%= @prim.SitTargetOffsetY %>
</p>

<p>
  <strong>Sittargetoffsetz:</strong>
  <%= @prim.SitTargetOffsetZ %>
</p>

<p>
  <strong>Sittargetorientw:</strong>
  <%= @prim.SitTargetOrientW %>
</p>

<p>
  <strong>Sittargetorientx:</strong>
  <%= @prim.SitTargetOrientX %>
</p>

<p>
  <strong>Sittargetorienty:</strong>
  <%= @prim.SitTargetOrientY %>
</p>

<p>
  <strong>Sittargetorientz:</strong>
  <%= @prim.SitTargetOrientZ %>
</p>

<p>
  <strong>Regionuuid:</strong>
  <%= @prim.RegionUUID %>
</p>

<p>
  <strong>Creatorid:</strong>
  <%= @prim.CreatorID %>
</p>

<p>
  <strong>Ownerid:</strong>
  <%= @prim.OwnerID %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @prim.GroupID %>
</p>

<p>
  <strong>Lastownerid:</strong>
  <%= @prim.LastOwnerID %>
</p>

<p>
  <strong>Scenegroupid:</strong>
  <%= @prim.SceneGroupID %>
</p>

<p>
  <strong>Payprice:</strong>
  <%= @prim.PayPrice %>
</p>

<p>
  <strong>Paybutton1:</strong>
  <%= @prim.PayButton1 %>
</p>

<p>
  <strong>Paybutton2:</strong>
  <%= @prim.PayButton2 %>
</p>

<p>
  <strong>Paybutton3:</strong>
  <%= @prim.PayButton3 %>
</p>

<p>
  <strong>Paybutton4:</strong>
  <%= @prim.PayButton4 %>
</p>

<p>
  <strong>Loopedsound:</strong>
  <%= @prim.LoopedSound %>
</p>

<p>
  <strong>Loopedsoundgain:</strong>
  <%= @prim.LoopedSoundGain %>
</p>

<p>
  <strong>Textureanimation:</strong>
  <%= @prim.TextureAnimation %>
</p>

<p>
  <strong>Omegax:</strong>
  <%= @prim.OmegaX %>
</p>

<p>
  <strong>Omegay:</strong>
  <%= @prim.OmegaY %>
</p>

<p>
  <strong>Omegaz:</strong>
  <%= @prim.OmegaZ %>
</p>

<p>
  <strong>Cameraeyeoffsetx:</strong>
  <%= @prim.CameraEyeOffsetX %>
</p>

<p>
  <strong>Cameraeyeoffsety:</strong>
  <%= @prim.CameraEyeOffsetY %>
</p>

<p>
  <strong>Cameraeyeoffsetz:</strong>
  <%= @prim.CameraEyeOffsetZ %>
</p>

<p>
  <strong>Cameraatoffsetx:</strong>
  <%= @prim.CameraAtOffsetX %>
</p>

<p>
  <strong>Cameraatoffsety:</strong>
  <%= @prim.CameraAtOffsetY %>
</p>

<p>
  <strong>Cameraatoffsetz:</strong>
  <%= @prim.CameraAtOffsetZ %>
</p>

<p>
  <strong>Forcemouselook:</strong>
  <%= @prim.ForceMouselook %>
</p>

<p>
  <strong>Scriptaccesspin:</strong>
  <%= @prim.ScriptAccessPin %>
</p>

<p>
  <strong>Alloweddrop:</strong>
  <%= @prim.AllowedDrop %>
</p>

<p>
  <strong>Dieatedge:</strong>
  <%= @prim.DieAtEdge %>
</p>

<p>
  <strong>Saleprice:</strong>
  <%= @prim.SalePrice %>
</p>

<p>
  <strong>Saletype:</strong>
  <%= @prim.SaleType %>
</p>

<p>
  <strong>Colorr:</strong>
  <%= @prim.ColorR %>
</p>

<p>
  <strong>Colorg:</strong>
  <%= @prim.ColorG %>
</p>

<p>
  <strong>Colorb:</strong>
  <%= @prim.ColorB %>
</p>

<p>
  <strong>Colora:</strong>
  <%= @prim.ColorA %>
</p>

<p>
  <strong>Particlesystem:</strong>
  <%= @prim.ParticleSystem %>
</p>

<p>
  <strong>Clickaction:</strong>
  <%= @prim.ClickAction %>
</p>

<p>
  <strong>Material:</strong>
  <%= @prim.Material %>
</p>

<p>
  <strong>Collisionsound:</strong>
  <%= @prim.CollisionSound %>
</p>

<p>
  <strong>Collisionsoundvolume:</strong>
  <%= @prim.CollisionSoundVolume %>
</p>

<p>
  <strong>Linknumber:</strong>
  <%= @prim.LinkNumber %>
</p>

<p>
  <strong>Passtouches:</strong>
  <%= @prim.PassTouches %>
</p>

<p>
  <strong>Mediaurl:</strong>
  <%= @prim.MediaURL %>
</p>

<p>
  <strong>Dynattrs:</strong>
  <%= @prim.DynAttrs %>
</p>

<p>
  <strong>Physicsshapetype:</strong>
  <%= @prim.PhysicsShapeType %>
</p>

<p>
  <strong>Density:</strong>
  <%= @prim.Density %>
</p>

<p>
  <strong>Gravitymodifier:</strong>
  <%= @prim.GravityModifier %>
</p>

<p>
  <strong>Friction:</strong>
  <%= @prim.Friction %>
</p>

<p>
  <strong>Restitution:</strong>
  <%= @prim.Restitution %>
</p>

<p>
  <strong>Keyframemotion:</strong>
  <%= @prim.KeyframeMotion %>
</p>

<p>
  <strong>Attachedposx:</strong>
  <%= @prim.AttachedPosX %>
</p>

<p>
  <strong>Attachedposy:</strong>
  <%= @prim.AttachedPosY %>
</p>

<p>
  <strong>Attachedposz:</strong>
  <%= @prim.AttachedPosZ %>
</p>

<p>
  <strong>Passcollisions:</strong>
  <%= @prim.PassCollisions %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @prim.Vehicle %>
</p>

<p>
  <strong>Rotationaxislocks:</strong>
  <%= @prim.RotationAxisLocks %>
</p>

<p>
  <strong>Rezzerid:</strong>
  <%= @prim.RezzerID %>
</p>

<%= link_to 'Edit', edit_prim_path(@prim) %> |
<%= link_to 'Back', prims_path %>
